@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

.logo{
    font-family: "Lobster"
}
.navbar{
    display: flex;
    justify-content: space-around;
    height: 100%;
    align-items: center;
}

.navbar-icons{
    width: 30%;
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 320px){
    .searchbar{
        display: none;
    }
    .navbar{
        font-size: 10px;
        display: flex;
        justify-content: space-around;
        height: 100%;
        align-items: center;
    }
}