
.App-header{
    margin-top: 0;
    padding: 0;
    border-bottom: 2px solid grey;
    height: 40px;
    background-color: white;
}

.App {
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
}
.App-Content {
    margin-top: 2%;
    margin-left: 20%;
    margin-right: 20%;
}